{% extends "base.html" %}

{% block postheader %}

{% endblock %}

{% block prebody %}
{% endblock %}

{% block container%}

<div class="col-lg-16">

<h1>Examples</h1>

<p>
Check out a selected set of example workflow below.
</p>

<div id="examples-tiles">

<div class="card example-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">ATLAS Multi-Bjet</h4>
    <p class="card-text">
      lorem

    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



<div class="card example-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">Hello World Example</h4>
    <p class="card-text">
      This example is the most trivial yadage workflow you can write.
    </p>
    <a href="https://yadage-local.cern.ch/submit?wflowname=fromwebui&toplevel=from-github%2Ftesting%2Fbusybox-flow&workflow=rootflow.yml&outputs=dummy&archive=&interactive=0&pars=%7B%7D"><img src="https://img.shields.io/badge/run_yadage-hello-4187AD.svg" style="max-width:100%;"></a>
  </div>
</div>


<div class="card example-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">ATLAS mono-H(bb)</h4>
    <p class="card-text">
      This is the 2017 iteration of the ATLAS search for new Physics in
      Events with large transverse missing energy and
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card example-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">CheckMate</h4>
    <p class="card-text">
      Phenomenologists like to implement their own versions of published LHC analyses.
      This example is full workflow including Monte Carlo sample production and
      downstream CheckMate analysis.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card example-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">MG5Py-Rivet</h4>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card's content
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card example-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">MG5Py-Delphes</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>

</div>

{% endblock %}
