{% extends "base.html" %}

{% block postheader %}

{% endblock %}

{% block prebody %}
{% endblock %}

{% block container%}

<div class="col-lg-16">

<h1>Examples</h1>

<p>
Check out a selected set of example workflow below.
</p>

<div id="examples-tiles">

<div class="card example-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">ATLAS Multi-Bjet</h4>
    <p class="card-text">
      lorem

    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card example-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">ATLAS mono-H(bb)</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card example-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">CheckMate</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card example-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">MG5Py-Rivet</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card example-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">MG5Py-Delphes</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>

</div>

{% endblock %}
