{% extends "base.html" %}

{% block postheader %}

{% endblock %}

{% block prebody %}
{% endblock %}

{% block container%}


<div class="col-md-6">

This is a demonstration service for executing yadage workflows on generic container clusters. 

Example:

<a href="http://yadage.cern.ch/submit?toplevel=github%3Alukasheinrich%2Fweinberg-exp%3Aexample_yadage&amp;workflow=rootflow.yml&amp;pars=%7B%22sqrtshalf%22%3A+45%2C+%22Gf%22%3A+1.76639e-05%2C+%22nevents%22%3A+10000%2C+%22seeds%22%3A+%5B1%2C+2%2C+3%2C+4%5D%2C+%22polbeam1%22%3A+0%2C+%22polbeam2%22%3A+0%2C+%22paramcardtempl%22%3A+%22param_card.templ%22%2C+%22runcardtempl%22%3A+%22run_card.templ%22%2C+%22proccardtempl%22%3A+%22sm_proc_card.templ%22%7D&amp;archive=https%3A%2F%2Fraw.githubusercontent.com%2Flukasheinrich%2Fweinberg-exp%2Fmaster%2Fexample_yadage%2Finput.zip&amp;outputs=merge%2Fout.jsonl"><img src="https://camo.githubusercontent.com/7cff0585b228114603e2f0e7db1c4ffc74bd2b17/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f72756e5f7961646167652d7765696e626572672d3431383741442e737667" alt="yadage workflow" data-canonical-src="https://img.shields.io/badge/run_yadage-weinberg-4187AD.svg" style="max-width:100%;"></a>

</div>


{% endblock %}
