{% extends "base.html" %}

{% block postheader %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block container%}
<div class="page-header">
    <h1>Backend Job Overview</h1>

    <table id="analysisTable" class="table table-striped">
        <thead>
            <tr>
                <th>Job ID</th>
                <th>Status</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            {% for row in job_info %}
              <tr>
                <td><a href="/monitor/{{row['jobguid']}}">{{row['jobguid']}}</a></td>
                <td style="width: 25%;">{{row['details']['status']}}</td>
                <td>
                {% if row['details']['status'] == 'SUCCESS' %}
                    <a href="/results/{{row['jobguid']}}">Results</a>
                {% else %}
                    Results
                {% endif %}
                </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
