{% extends "base.html" %}

{% block prebody %}
<link href="{{ url_for('static',filename='bower_components/vis/dist/vis.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ url_for('static',filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

<script src="{{ url_for('static',filename='bower_components/requirejs/require.js')}}"></script>

<script type="text/javascript">

var paths = {
    'jquery': '{{ url_for('static',filename="bower_components/jquery/dist/jquery.min")}}',
    'yadage-js': '{{ url_for('static',filename="bower_components/yadage-js/yadage-js")}}',
    'cytoscape': '{{ url_for('static',filename="bower_components/cytoscape/dist/cytoscape")}}',
    'cytoscape-dagre': '{{ url_for('static',filename="bower_components/cytoscape-dagre/cytoscape-dagre")}}',
    'cytoscape-expand-collapse': '{{ url_for('static',filename="bower_components/cytoscape-expand-collapse/cytoscape-expand-collapse")}}',
    'dagre': 'https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre'
}

requirejs.config({
  paths: paths
});

</script>

<style type="text/css">
    #viz-container {
    }
    #viz-canvas {
    }

    #viz-canvas-header {
    }

    #viz-canvas-footer {
      /*height: 10%*/
    }
    #yadage-viz {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      left: 0;
      top: 0;
      z-index: 999;
    }
    #timestamp {
      margin: auto;
      width: 70%;
      text-align: center;
      font-family: Helvetica, Arial, Sans-Serif;
    }
</style>


<script type="text/javascript">
var edges = undefined;
var nodes = undefined;

function initialize_graph(yadage){

  console.log('initialize graph')

    yadage.nodeSelectCallback = function(evt){

      console.log('callback!')
      console.log(evt.target.data())
      var details = evt.target.data().details
      if(!details) return

      $('#nodebox').show()
      $('#nodebox-title').html(details.name)

      $('#nodebox-state').html(details.state)

      state_to_bstp = {'DEFINED': 'info', 'RUNNING': 'warning', 'FAILED': 'danger', 'SUCCESS': 'success'}


      $('#nodebox-state').removeClass('badge-info')
      $('#nodebox-state').removeClass('badge-light')
      $('#nodebox-state').removeClass('badge-warning')
      $('#nodebox-state').removeClass('badge-danger')
      $('#nodebox-state').removeClass('badge-success')

      $('#nodebox-state').addClass('badge-'+state_to_bstp[details.state])

      var task_id = undefined
      if(details.proxy != undefined){
        task_id = details.proxy.proxydetails.task_id
      }

      if(task_id != undefined){
          $('#nodebox-logbutton').attr('href','/subjob_monitor/'+task_id)
          $('#nodebox-logbutton').removeClass('disabled')

      }
      else {
        $('#nodebox-logbutton').prop( "disabled", true );
        $('#nodebox-logbutton').addClass('disabled')
      }


    }
    yadage.initialize_graph($('#yadage-viz'))
    console.log('set callback!')

}



function update_yadage(date,state_data){

  require(['yadage-js'],function(yadage){
    if(!yadage.cy){
      initialize_graph(yadage)
    }
    console.log('updating!')
    yadage.redraw_graph(state_data);
    console.log('updated!')
  })

  console.log('update graph')
    $('#timestamp').html(date)
}

$(document).ready(function(){

    namespace = '/wflow';
    var socket = io.connect('//' + document.domain + ':' + location.port + namespace);
    socket_global = socket;

    socket.on('join_ack', function(msg){
      console.log(msg)
    })

    socket.on('room_msg', function (data) {
            console.log('got msg from room ' + data.msg_type + ' ' + data.date);
            console.log(data)
            if(data['msg_type'] == 'wflow_log'){
                $('.logwindow').append('<div class="line"><span><code class="timestamp">'+data['date']+'</code></span><span><code class="message">'+escapeHTML(data['msg'])+'</code></span></div>')
            }
            if(data['msg_type'] == 'wflow_state'){
                update_yadage(data['date'],data['state'])
            }
      });
      socket.emit('join', {room: '{{workflow_id}}' });
      socket.emit('roomit', {room: '{{workflow_id}}'});
});

function escapeHTML(s) {
    return s.replace(/&/g, '&amp;')
            .replace(/"/g, '&quot;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;');
}
</script>
{% endblock %}

{% block container%}
<div class="page-header">
    <h1>Workflow Monitor <small>for {{workflow_id}}</small></h1>
</div>


<div class="row">
    <div class="col">

          {% set status_to_bootstrap = {'SUCCESS': 'success', 'FAILURE': 'danger', 'STARTED': 'warning', 'ACTIVE': 'warning', 'REGISTERED': 'info'} %}

          <h4> Status: <span class="badge badge-{{status_to_bootstrap[status]}}">{{status}}</span></h4>

          {% if status == 'SUCCESS' %}
          <p> The Workflow has completed successfully. <a href="/results/{{workflow_id}}">View Results</a></p>
          {% endif %}
    </div>
    {% if status=='SUCCESS' %}

    {% endif %}

</div>



<div class="row">
    <div class="col" id="viz-container">
        <div class="row" id="viz-canvas-header">
          <div class="col" id="viz-canvas">
            <h3>Workflow Visualization</h3>
            <div>
              <button class="btn-xs btn-primary" onclick="require('yadage-js').redraw_graph();">redraw</button>
              <button class="btn-xs btn-primary" onclick="require('yadage-js').relayout();">relayout</button>
              <button class="btn-xs btn-primary" onclick="require('yadage-js').collapse_api.collapseAll();">collapse</button>
              <button class="btn-xs btn-primary" onclick="require('yadage-js').collapse_api.expandAll();">expand</button>
            </div>
          </div>
        </div>
        <div class="row" style="min-height: 400px;">
          <div class="col-lg-10" id="viz-canvas" style="min-height: 400px;">
            <div id="yadage-viz" style="min-height: 400px;"></div>
          </div>
          <div class="col col-md-2" id="nodebox" style="display: none">

            <div class="card">
              <div class="card-block">
                <h4 class="card-title" id="nodebox-title">Card title</h4>
                <span class="badge" id="nodebox-state"></span></dd>
                <br/>
                <a href="#" class="btn btn-primary btn-sm" id="nodebox-logbutton">Logs</a>

              </div>
            </div>

          </div>
        </div>
        <div class="row" id="viz-canvas-footer">
          <div class="col">
            <center>
              Last seen: <span id="timestamp"></span>
            </center>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div>
            <h3>Log</h3>
            <p>Messages from the request processor will appear below. </p>
          <div class="logwindow"></div>
        </div>
    </div>
</div>
{% endblock %}
