{% extends "base.html" %}

{% block postheader %}

{% endblock %}

{% block prebody %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">
    <script src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <script type="text/javascript">



        function submit_form(){
        	var submit_data = {}
        	$.each($('#sandboxform').serializeArray(),function(index,value){
        		submit_data[value.name] = value.value}
        	)
        	submit_data['preset_pars'] = parjson

        	console.log(submit_data)

	        $.ajax({
	        	type: "POST",
	        	url: location.origin+'/workflow_submit',
		        dataType: 'json',
			    contentType: "application/json; charset=utf-8",
				data: JSON.stringify(submit_data),
	        	complete: function(data){
	                var jobguid = data['responseJSON']['jobguid']
	                console.log('got jobguid: '+jobguid)
	                window.location.assign(location.origin+'/monitor/' + jobguid)
	            }
	        })
        }
        var parjson = JSON.parse('{{presets['pars']|safe}}')
        $(document).ready(function(){
		    var opt = {
		        change: function(data) { parjson = data},
		    };
	        $('#workflowpars').jsonEditor(parjson, opt);

        })


    </script>


   <link rel="stylesheet" href="{{ url_for('static',filename='custom/css/jsoneditor.css')}}"/>
   <script src="{{ url_for('static',filename='custom/js/jquery.jsoneditor.min.js')}}"></script>

{% endblock %}

{% block container%}


<div class="col-md-6">

  <h3>Submit a Workflow</h3>

  <p>
    Fill out the form below to submit a Workflow. This is useful for testing and demo-ing. If you want to submit
    many workflow jobs, consider using the command line clients or the REST API
  </p>

  <h4> Workflow Parameters as JSON</h4>

  <p>
  The <code>yadage</code> workflow description allows workflows to be arbitarily parametrized. The data format in which the parameters are processed is the ubiquitous JSON. In order to add parameters, click on "Add New Value" and enter the property name and value.
  </p>
  <p>
  Note: string <emph>values</emph> must be quoted in <code>"double quotes"</code>, but property values must not.
  </p>
  <p>
  To remove a property, delete the key and click outside of the form.
  </p>

  <h4>Picking Outputs from workflow directory</h4>

  <p>
  After the workflow has finished processing, the work directory is deleted. In order to save outputs, fill the "Output" form field with a comma separated list of output paths (relative to the work directory)
  </p>

	<form id="sandboxform" action="javascript:submit_form()">

	  <div class="form-group">
      <input type="hidden" value="fromwebui" class="form-control" name="wflowname">
	    <label for="toplevel">Reference Base URI</label>
	    <input type="text" class="form-control" name="toplevel" placeholder="from-github/phenochain" value="{{presets.get('toplevel','')}}">
	    <label for="workflow">Workflow</label>
	    <input type="text" class="form-control" name="workflow" placeholder="madgraph_delphes.yml" value="{{presets.get('workflow','')}}">
	    <label for="inputURL">Desired Outputs</label>
	    <input type="text" class="form-control" name="outputs" placeholder="delphes/output.root,delphes/output.lhco" value="{{presets.get('outputs','')}}">
	    <label for="inputURL">Optional Input Archive</label>
	    <input type="text" class="form-control" name="inputURL" placeholder="http://example.com/archive.zip" value="{{presets.get('archive','')}}">
	  </div>

	  <div class="form-group">
	    <label for="inputURL">Additional Workflow Parameters</label>
	    <div id="workflowpars" class="json-editor"></div>
	  </div>

      <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

{% endblock %}
